.Rproj.user
.Rhistory
.RData
.Ruserdata
scotlands-people-annual-report-2019.pdf
raw_data/community_belonging.csv
raw_data/Datazone2011lookup.csv
raw_data/green_spaces.csv
raw_data/homelessness_applications.csv
raw_data/neighbourhood_rating.csv
